<!doctype html>
<head>
    <title>UTEK 2017</title>
    <link rel="stylesheet" href="static/style.css"></link>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="horizontally-center" style="font-family: Arial, Helvetica, sans-serif; color: white">UTEK 2017</h1>
        <br>
        <form class="horizontally-center" action="search" method="GET">
            <label for="start" class="white-text">Start</label>
            <br>
            <input id="start" type="text" class="margins">
            <br>
            <label for="end" class="white-text">End</label>
            <br>
            <input id="end" type="text" class="margins">
            <br>
            <input type="submit" value="Search" class="rounded; white-background">
        </form>
    </div>
    <ol>
        {% for path_name in path_names %}
        <li>path_name</li>
        {% else %}
        <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
    </ol>
</body>